# Profile
profile: 
  name: acquisitions
# Application
application:
  name: app-acquisitions
  version: 1.0.0
  platform: acquisitions
  fetch-descriptors: false
  dependencies:
    name: app-minimal-1.0.0
    version: 1.0.0
  port-range: 35000
# Registry
registry: 
  registry-url: https://folio-registry.dev.folio.org
  folio-install-json-url: https://raw.githubusercontent.com/folio-org/platform-complete/snapshot/install.json
  eureka-install-json-url: https://raw.githubusercontent.com/folio-org/platform-complete/snapshot/eureka-platform.json
# Environment
environment:
  # General
  ENV: folio
  # PostgreSQL
  DB_HOST: postgres.eureka
  DB_PORT: 5432
  DB_DATABASE: folio
  DB_USERNAME: folio_rw
  DB_PASSWORD: supersecret
  # Kafka
  KAFKA_HOST: kafka.eureka
  KAFKA_PORT: 9092
  # Elasticsearch
  ELASTICSEARCH_URL: http://host.docker.internal:9200
  # AWS S3/MinIO
  AWS_URL: http://host.docker.internal:9000
  AWS_REGION: us-east-1
  AWS_BUCKET: example-bucket
  AWS_ACCESS_KEY_ID: minioadmin
  AWS_SECRET_ACCESS_KEY: minioadmin
  S3_IS_AWS: false
  S3_URL: http://host.docker.internal:9000
  S3_REGION: us-east-1
  S3_ACCESS_KEY_ID: minioadmin
  S3_SECRET_ACCESS_KEY: minioadmin
  S3_BUCKET: example-bucket
  SPLIT_FILES_ENABLED: true
  # Consortia
  SYSTEM_USER_PASSWORD: system_user_password
  # Management
  MT_URL: http://mgr-tenants.eureka:8081
  AM_CLIENT_URL: http://mgr-applications.eureka:8081
  KONG_ADMIN_URL: http://api-gateway.eureka:8001
  # Keycloak 
  KC_URL: http://keycloak.eureka:8080
  KC_ADMIN_CLIENT_ID: supersecret
  KC_ADMIN_USERNAME: admin
  KC_ADMIN_PASSWORD: admin
  SECURITY_ENABLED: false
  KC_IMPORT_ENABLED: true
  KC_INTEGRATION_ENABLED: true
  KC_LOGIN_CLIENT_SUFFIX: -login-app
  KC_SERVICE_CLIENT_ID: m2m-client
  KONG_INTEGRATION_ENABLED: true
  OKAPI_INTEGRATION_ENABLED: false
  # Java
  JAVA_OPTIONS: "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005 -XX:MaxRAMPercentage=90.0 -Xms128m -Xmx256m"
# Files
files: 
  module-env: .module.env
  module-descriptors: .module-descriptors.json
# Resources
resources: 
  kong: http://api-gateway.eureka:8000
  vault: http://vault.eureka:8200
  keycloak: http://keycloak.eureka:8080
  mgr-tenants: http://mgr-tenants.eureka:8081
  mgr-applications: http://mgr-applications.eureka:8081
  mgr-tenant-entitlements: http://mgr-tenant-entitlements.eureka:8081
# Sidecar module
sidecar-module:
  image: folio-module-sidecar
  version: 1.1.0-SNAPSHOT.90
  environment:
    JAVA_OPTIONS: "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005 -XX:MaxRAMPercentage=90.0 -Xms50m -Xmx128m"
# Backend modules
backend-modules:
  # Other modules
  mod-source-record-storage:
  mod-source-record-manager:
  mod-pubsub:
  mod-inventory-storage:
  mod-inventory:
  mod-organizations-storage:
  mod-organizations:
  mod-entities-links:
  mod-invoice-storage:
  mod-invoice:
  mod-orders-storage:
  mod-orders:
  mod-finance:
  mod-finance-storage:
  mod-circulation-storage:
  mod-circulation:
  mod-di-converter-storage:
  mod-data-import:
  mod-data-export:
  mod-copycat:
  mod-audit:
  mod-patron:
  mod-patron-blocks:
  mod-feesfines:
  mod-search:
  mod-login-saml:
  mod-event-config:
  mod-template-engine:
  mod-data-export-spring:
  mod-erm-usage:
  mod-calendar:
  mod-agreements:
  mod-sender:
  mod-email:
  mod-batch-print:
  mod-notify:
  mod-service-interaction:
# Frontend modules
frontend-modules:
  folio_users:
  folio_tenant-settings:
  folio_organizations:
  folio_inventory:
  folio_invoice:
  folio_orders:
  folio_finance:
  folio_receiving:
  folio_servicepoints:
  folio_service-interaction:
  folio_acquisition-units:
  folio_requests:
  folio_plugin-find-instance:
  folio_plugin-find-organization:
  folio_plugin-find-po-line:
  folio_plugin-find-user:
