profile:
  name: combined
application:
  name: app-combined
  version: 1.0.0
  platform: base
  fetch-descriptors: false
  port-start: 30000
  port-end: 30999
registry:
  url: https://folio-registry.dev.folio.org
install:
  folio: https://raw.githubusercontent.com/folio-org/platform-complete/snapshot/install.json
  eureka: https://raw.githubusercontent.com/folio-org/platform-complete/snapshot/eureka-platform.json
namespaces:
  platform-complete-ui: bkadirkhodjaev
environment:
  # PostgreSQL
  DB_HOST: postgres.eureka
  DB_PORT: 5432
  DB_DATABASE: folio
  DB_USERNAME: folio_rw
  DB_PASSWORD: supersecret
  DB_CHARSET: UTF-8
  DB_QUERYTIMEOUT: 60000
  DB_MAXPOOLSIZE: 4
  # Kafka
  ENV: folio
  KAFKA_HOST: kafka.eureka
  KAFKA_PORT: 9092
  KAFKA_PRODUCER_TENANT_COLLECTION: ALL
  # Kong
  KONG_ADMIN_URL: http://kong.eureka:8001
  KONG_INTEGRATION_ENABLED: "true"
  # Keycloak
  KC_URL: http://keycloak.eureka:8080
  KC_CONFIG_TTL: 3600s
  KC_ADMIN_CLIENT_ID: folio-backend-admin-client
  KC_ADMIN_CLIENT_SECRET: supersecret
  KC_ADMIN_USERNAME: admin
  KC_ADMIN_PASSWORD: admin
  KC_IMPORT_ENABLED: "true"
  KC_INTEGRATION_ENABLED: "true"
  KC_LOGIN_CLIENT_SUFFIX: -application
  KC_SERVICE_CLIENT_ID: sidecar-module-access-client
  KC_URI_VALIDATION_ENABLED: "false"
  SECURITY_ENABLED: "true"
  OKAPI_INTEGRATION_ENABLED: "false"
  WEB_CLIENT_TLS_VERIFY_HOSTNAME: "false"
  # Java
  JAVA_OPTIONS: >-
    -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005 
    -XX:MaxRAMPercentage=80.0 -Xms128m -Xmx400m 
    -Djdk.internal.httpclient.disableHostnameVerification=true
tenants:
  diku:
    deploy-ui: true
roles:
  diku_admin_role:
    tenant: diku
    capability-sets: ["all"]
  diku_user_role:
    tenant: diku
    capability-sets: []
users:
  diku_admin:
    tenant: diku
    password: admin
    last-name: John
    first-name: Doe
    roles: ["diku_admin_role", "diku_user_role"]
  diku_user:
    tenant: diku
    password: user
    last-name: Jane
    first-name: Doe
    roles: ["diku_user_role"]
sidecar-module:
  # Must build locally for your OS and CPU
  image: folio-module-sidecar-native
  version: latest
  custom-namespace: true
  native-binary-cmd: [
    "./application", "-Dquarkus.http.host=0.0.0.0", "-Dquarkus.log.category.'org.apache.kafka'.level=INFO"
  ]
  environment:
    # Kafka
    ENV: folio
    KAFKA_HOST: kafka.eureka
    KAFKA_PORT: 9092
    # Keycloak
    MOD_USERS_KEYCLOAK_URL: http://mod-users-keycloak-sc.eureka:8081
    # Management
    TM_CLIENT_URL: http://mgr-tenants.eureka:8081
    AM_CLIENT_URL: http://mgr-applications.eureka:8081
    TE_CLIENT_URL: http://mgr-tenant-entitlements.eureka:8081
    # Sidecar
    SIDECAR: "true"
    SIDECAR_FORWARD_UNKNOWN_REQUESTS: "true"
    SIDECAR_FORWARD_UNKNOWN_REQUESTS_DESTINATION: http://kong.eureka:8000
    QUARKUS_HTTP_PORT: 8081
    QUARKUS_REST_CLIENT_READ_TIMEOUT: 180000
    QUARKUS_REST_CLIENT_CONNECT_TIMEOUT: 180000
    QUARKUS_REST_CLIENT_SEND_TIMEOUT: 180000
    QUARKUS_HTTP_LIMITS_MAX_INITIAL_LINE_LENGTH: 8192
    SC_LOG_LEVEL: INFO
    ROOT_LOG_LEVEL: INFO
    REQUEST_TIMEOUT: 604800000
    ALLOW_CROSS_TENANT_REQUESTS: "true"
  resources:
    cpus: 1
    memory-reservation: 20
    memory: 80
backend-modules:
  mgr-applications:
    port: 9901
    use-vault: true
    environment:
      MODULE_URL: http://mgr-applications.eureka:8081
      TE_URL: http://mgr-tenant-entitlements.eureka:8081
      VALIDATION_MODE: none
      ROUTEMANAGEMENT_ENABLE: "true"
      FOLIO_CLIENT_CONNECT_TIMEOUT: 600s
      FOLIO_CLIENT_READ_TIMEOUT: 600s
      KONG_CONNECT_TIMEOUT: "941241418"
      KONG_READ_TIMEOUT: "941241418"
      KONG_WRITE_TIMEOUT: "941241418"
    resources:
      cpus: 2
  mgr-tenants:
    port: 9902
    use-vault: true
    environment:
      MODULE_URL: http://mgr-tenants.eureka:8081
      FOLIO_CLIENT_CONNECT_TIMEOUT: 600s
      FOLIO_CLIENT_READ_TIMEOUT: 600s
      KONG_CONNECT_TIMEOUT: "941241418"
      KONG_READ_TIMEOUT: "941241418"
      KONG_WRITE_TIMEOUT: "941241418"
    resources:
      cpus: 2
  mgr-tenant-entitlements:
    port: 9903
    use-vault: true
    environment:
      MODULE_URL: http://mgr-tenant-entitlements.eureka:8081
      MT_CLIENT_URL: http://mgr-tenants.eureka:8081
      AM_CLIENT_URL: http://mgr-applications.eureka:8081
      VALIDATION_INTERFACE_INTEGRITY_ENTITLEMENT_ENABLED: "false"
      VALIDATION_INTERFACE_INTEGRITY_UPGRADE_ENABLED: "false"
      ROUTEMANAGEMENT_ENABLE: "false"
      FOLIO_CLIENT_CONNECT_TIMEOUT: 600s
      FOLIO_CLIENT_READ_TIMEOUT: 600s
      KONG_CONNECT_TIMEOUT: "941241418"
      KONG_READ_TIMEOUT: "941241418"
      KONG_WRITE_TIMEOUT: "941241418"
      FLOW_ENGINE_THREADS_NUM: "4"
      FLOW_ENGINE_MODULE_INSTALLER_THREADS: "4"
      RETRIES_MODULE_MAX: "10"
      KAFKA_ENTITLEMENT_TOPIC_PARTITIONS: "1"
      KAFKA_SCHEDULED_JOB_TOPIC_PARTITIONS: "1"
      KAFKA_CAPABILITY_TOPIC_PARTITIONS: "1"
      KAFKA_SYS_USER_TOPIC_PARTITIONS: "1"
      KAFKA_PRODUCER_TENANT_COLLECTION: "true"
      FLOW_ENGINE_PRINT_FLOW_RESULTS: "true"
    resources:
      cpus: 4
  mod-users-keycloak:
    use-vault: true
    use-okapi-url: true
    disable-system-user: true
    port: 9904
    environment:
      SINGLE_TENANT_UX: "false"
      INCLUDE_ONLY_VISIBLE_PERMISSIONS: "false"
      KAFKA_SYS_USER_TOPIC_RETRY_DELAY: 1s
      KAFKA_SYS_USER_TOPIC_RETRY_ATTEMPTS: "9223372036854775807"
      KAFKA_SYS_USER_CAPABILITIES_RETRY_DELAY: 5s
      KAFKA_SYS_USER_CAPABILITIES_RETRY_ATTEMPTS: "100"
    resources:
      cpus: 4
      memory: 900
  mod-login-keycloak:
    use-vault: true
    port: 9905
    environment:
      X_OKAPI_TOKEN_HEADER_ENABLED: "false"
      LOGIN_COOKIE_SAMESITE: "NONE"
      KC_ADMIN_TOKEN_TTL: 295s
  mod-roles-keycloak:
    use-vault: true
    disable-system-user: true
    port: 9906
    environment:
      CAPABILITY_TOPIC_RETRY_DELAY: 1s
      CAPABILITY_TOPIC_RETRY_ATTEMPTS: "9223372036854775807"
    resources:
      cpus: 4
  mod-scheduler:
    use-vault: true
    use-okapi-url: true
    disable-system-user: true
    port: 9907
    resources:
      cpus: 4
  mod-permissions:
  mod-configuration:
  mod-users:
  mod-roles:
  mod-password-validator:
  mod-settings:
  mod-notes:
  mod-tags:
  mod-inventory-storage:
  mod-inventory:
    private-port: 9403
  mod-organizations-storage:
  mod-organizations:
  mod-invoice-storage:
  mod-invoice:
  mod-orders-storage:
  mod-orders:
  mod-finance:
  mod-finance-storage:
    use-vault: true
  mod-audit:
  mod-pubsub:
    disable-system-user: true
  mod-circulation-storage:
  mod-circulation:
    private-port: 9801
  mod-template-engine:
  mod-feesfines:
frontend-modules:
  folio_stripes-core:
  folio_developer:
  folio_notes:
  folio_tags:
  folio_stripes-smart-components:
  folio_users:
  folio_tenant-settings:
  folio_organizations:
  folio_inventory:
  folio_invoice:
  folio_orders:
  folio_finance:
  folio_receiving:
  folio_claims:
  folio_servicepoints:
  folio_acquisition-units:
  folio_requests:
  folio_plugin-find-instance:
  folio_plugin-find-organization:
  folio_plugin-find-po-line:
  folio_plugin-find-user:
  folio_plugin-find-authority:
custom-frontend-modules:
  folio_authorization-roles:
    version: 2.1.109900000000214
  folio_authorization-policies:
    version: 2.0.109900000000102
  folio_plugin-select-application:
    version: 2.0.109900000000116
