networks:
  fpm-net:
    name: eureka
    driver: bridge

volumes:
  db: 
    name: eureka_db
  vault-data: 
    name: eureka_vault_data
  kafka-data: 
    name: eureka_kafka_data

services:
  ### Postgres ###
  db:
    container_name: db
    image: postgres:13.4-alpine
    environment:
      PGUSER: postgres
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: superAdmin
      OKAPI_DB_PASSWORD: superAdmin
      MGR_APPLICATIONS_DB_PASSWORD: superAdmin
      MGR_TENANTS_DB_PASSWORD: superAdmin
      MGR_TENANT_ENTITLEMENTS_DB_PASSWORD: superAdmin
      KC_DB_PASSWORD: superAdmin
      KONG_DB_PASSWORD: superAdmin
    volumes:
      - db:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks: 
      - fpm-net
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 10s
      timeout: 10s
      retries: 10

  ### Kafka ###
  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:latest
    depends_on:
      - zookeeper
      - kafka
    networks: 
      - fpm-net
    ports:
      - "9080:8080"
    healthcheck:
      test: wget --spider --timeout 1 localhost:8080
      interval: 10s
      timeout: 10s
      retries: 10
    environment:
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka.eureka:9092
      KAFKA_CLUSTERS_0_JMXPORT: 9997

  zookeeper:
    container_name: zookeeper
    image: zookeeper:latest
    networks: 
      - fpm-net
    ports:
      - "2181:2181"
    healthcheck:
      test: nc -zv localhost 2181 || exit -1
      interval: 10s
      timeout: 5s
      retries: 15
      start_period: 5s

  kafka:
    container_name: kafka
    image: wurstmeister/kafka:2.13-2.8.1
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_LISTENERS: INSIDE://:9091,OUTSIDE://:9092
      KAFKA_ADVERTISED_LISTENERS: INSIDE://:9091,OUTSIDE://kafka.eureka:9092
      KAFKA_ADVERTISED_HOST_NAME: kafka.eureka
      KAFKA_ZOOKEEPER_CONNECT: zookeeper.eureka:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INSIDE
      KAFKA_MESSAGE_MAX_BYTES: 1000000
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    depends_on:
      zookeeper:
        condition: service_healthy
    volumes:
      - kafka-data:/kafka
    restart: always
    networks: 
      - fpm-net
    ports:
      - "9092:9092"
    healthcheck:
      test: nc -zv localhost 9092 || exit -1
      interval: 10s
      timeout: 5s
      retries: 15
      start_period: 5s

  ### Vault ###
  vault:
    container_name: vault
    image: folio-vault:1.13.3
    build:
      context: vault
      dockerfile: Dockerfile
    environment:
      VAULT_ADDR: http://0.0.0.0:8200
      VAULT_API_ADDR: http://0.0.0.0:8200
    volumes:
      - vault-data:/vault/data:rw
    cap_add: [ IPC_LOCK ]
    networks: 
      - fpm-net
    ports:
      - "8200:8200"
    healthcheck:
      test: [ "CMD", "vault", "status" ]
      interval: 5s
      timeout: 10s
      retries: 30

  ### Keycloak ###
  keycloak:
    container_name: keycloak
    image: nginx:latest
    depends_on:
      - keycloak-internal
    volumes:
      - ./nginx/keycloak-nginx.conf:/etc/nginx/nginx.conf:ro
    networks: 
      - fpm-net
    ports:
      - "8080:8080"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080" ]
      interval: 15s
      timeout: 2s
      retries: 15

  keycloak-internal:
    container_name: keycloak-internal
    image: $ECR_REGISTRY/folio-keycloak:23.0.3
    build:
      context: ./keycloak
      dockerfile: Dockerfile
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_FOLIO_BE_ADMIN_CLIENT_ID: superAdmin
      KC_FOLIO_BE_ADMIN_CLIENT_SECRET: superAdmin
      KC_DB_URL_HOST: db.eureka
      KC_DB_URL_PORT: 5432
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: keycloak_rw
      KC_DB_PASSWORD: superAdmin
      KC_HTTPS_KEY_STORE_PASSWORD: superAdmin
      KC_PROXY: edge
      KC_HOSTNAME: keycloak.eureka
      KC_HOSTNAME_PORT: 8080
      KC_HTTP_ENABLED: true
      KC_HOSTNAME_STRICT: true
      KC_HOSTNAME_STRICT_HTTPS: false
      JAVA_OPTS_APPEND: "-Xms768m -Xmx1024m"
    depends_on:
      db:
        condition: service_healthy
      vault:
        condition: service_healthy
    networks: 
      - fpm-net
    ports:
      - "18081:8080"
    deploy:
      resources:
        limits:
          cpus: 1024m
          memory: 1200M
        reservations:
          cpus: 1024m
          memory: 1200M

  ### Kong ###
  api-gateway:
    container_name: api-gateway
    image: folio-kong:3.4.1-ubuntu
    build:
      context: ./kong
      dockerfile: Dockerfile
    environment:
      KONG_DATABASE: postgres
      KONG_PG_DATABASE: kong
      KONG_NGINX_HTTP_LARGE_CLIENT_HEADER_BUFFERS: 4 200k
      KONG_PG_HOST: db
      KONG_PG_PORT: 5432
      KONG_PG_USER: kong_rw
      KONG_PG_PASSWORD: superAdmin
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_ADMIN_GUI_URL: http://localhost:8002
      KONG_PROXY_LISTEN: "0.0.0.0:8000, 0.0.0.0:8443 ssl"
      KONG_ADMIN_LISTEN: "0.0.0.0:8001, 0.0.0.0:8444 ssl"
      KONG_PLUGINS: bundled
      KONG_LOG_LEVEL: debug
      ENV: local
    depends_on:
      db:
        condition: service_healthy
    networks: 
      - fpm-net
    ports:
      - "8000:8000"
      - "8001:8001"
      - "8002:8002"
      - "8443:8443"
      - "8444:8444"
    healthcheck:
      test: [ "CMD", "kong", "health" ]
      interval: 10s
      timeout: 10s
      retries: 10
      
  ### Netcat ###
  netcat:
    container_name: netcat
    build:
      context: .
      dockerfile_inline: |
        FROM nginx:latest
        RUN apt update; apt install netcat-traditional -y 
    image: netcat:latest
    networks: 
      - fpm-net
    ports:
      - "8445:80"
    healthcheck:
      test: nc -zv localhost 80 || exit -1
      interval: 10s
      timeout: 5s
      retries: 15
      start_period: 5s