name: Build UI

on:
  workflow_dispatch:
    inputs:
      namespace:
        description: "Namespace (DockerHub)"
        required: true
        type: string
      tenant:
        description: "Tenant name"
        required: true
        type: string

jobs:
  build-ui:
    name: Build And Push UI Command
    runs-on: ubuntu-latest
    steps:
      - name: Using inputs
        run: |
          echo "Namespace: ${{ inputs.namespace }}"
          echo "Tenant: ${{ inputs.tenant }}"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ inputs.namespace }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Prepare .eureka config directory
        run: |
          mkdir -p /home/runner/.eureka
          chmod -R 0777 /home/runner/.eureka

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.1"
          cache-dependency-path: ./eureka-cli/go.sum

      - name: Build CLI
        working-directory: ./eureka-cli
        run: go build -o eureka-cli

      - name: Build And Push UI Command
        working-directory: ./eureka-cli
        run: |
          ./eureka-cli buildAndPushUi --namespace ${{ inputs.namespace }} --tenant ${{ inputs.tenant }}
          echo "Build And Push UI command ran successfully"
