name: Deploy Application

on:
  workflow_dispatch:
    inputs:
      profile:
        description: "Profile to use"
        required: true
        type: choice
        options: [ "combined", "ecs-single", "ecs"] 
        default: combined
      additional_flags:
        description: "Additional CLI flags (optional)"
        required: false
        type: string
        default: ""

jobs:
  deploy:
    name: Deploy Application
    # TODO Register a self-hosted runner
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Go Environment
        uses: ./.github/actions/setup-go

      - name: Build CLI
        working-directory: ./eureka-cli
        run: go build -o eureka-cli

      - name: Run deployApplication command
        working-directory: ./eureka-cli
        run: |
          ./eureka-cli deployApplication \
            -p ${{ inputs.profile }} \
            -oR \
            ${{ inputs.additional_flags }} 2>&1 | tee deployApplication.log

      - name: Run undeployApplication command
        if: always()
        working-directory: ./eureka-cli
        run: |
          ./eureka-cli undeployApplication \
            -p ${{ inputs.profile }} 2>&1 | tee undeployApplication.log 

      - name: Upload logs (if any)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: deployment-logs
          path: |
            eureka-cli/*.log
          if-no-files-found: ignore
