name: Release CLI

on:
  push:
    tags:
      - "v*.*.*" # Triggers on version tags like v1.2.3

jobs:
  test:
    uses: ./.github/workflows/test.yml

  release:
    name: Build and Release
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with: 
          fetch-depth: 0

      - name: Setup Go Environment
        uses: ./.github/actions/setup-go

      - name: Set up GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
